<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  
<title>RastrodePepa</title>


</head>


<body>
   <div class="grid-container">

 <!-- -----------------------------------  -->
      <header class="cabecera">
      <div>
            <a  href="index.html"><img src="img/logo.png"  height=50rem alt="logo"></a>
      </div>

      <div>
      <a   href="index.html">El rastro de Pepa </a>
      </div>

      </header>
 <!-- -----------------------------------  -->
      <botone class="row right">
            <div></div>
      <div>
            <a href="cart.html">Carrito</a>
            <a href="sinin.html">Alta Comprador</a>

      </div>   
      </botone>
 <!-- -----------------------------------  -->
<main>
<div class="row center"> 
      <div class="card">
            <a href="product.html"> <img class="medium" src="./img/calculadora1.jpg" alt="producto" /> </a>
      
      <div class="card-body">
            <a href="product.html">Producto 1</a>  
      
      <div class="price">120€</div>
</div>
</div>






</main>

 <!-- -----------------------------------  -->
<footer class="row center">
Todos los derechos reservados
</footer>
<!-- -----------------------------------  -->  


</div> 

</body>
</html>