

html{
  font-size: 62,5%; /* 16px  x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 9rem  1fr 3rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #ffffff;
  justify-content: center;
}


main{
  grid-area: main;
  padding: 0.5rem;
  color: #414141;
}
footer{
  grid-area: footer;
  background-color: #f4f4f4;
  font-size: 1rem;
  color: #414141;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover{
  color: #313131;
}

/* Header */
header a{
  color: #414141;
  padding: 0.7rem;
  
}



/* Main */
main a{
  color: #414141;
  font-size: 1rem;
  
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  

}


.row.cabecera {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold ;
}


.row.botonera{
  display: flex;
    background-color: #f4f4f4;
    border: 0.1rem #c0c0c0 solid;
    justify-content: space-between;
    font-size: 0,5rem;
    color: #414141;
  
}

.row.center {
  justify-content: center;
  padding: 5rem;
 
}
.row.footer{
  justify-content: center;
  margin: 0.5rem;
}

/* Image */
img {
  border-radius: 0.2rem;
}

img.medium {
  max-width: 10rem;
  width: 100%;
}

.zoom {
  transition: transform .2s; 
}
.zoom:hover {
  transform: scale(3); 
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f4f4f4   ;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  
  
}
.card-body {
  padding: 0.7rem;
  color: #000000;
  font-size: 1rem;
  margin-bottom: 1rem;

}


.price {
  font-size: 1rem;
}
